<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sudoku App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link defer rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <form action="/main/show" method="post">
        <h1 id="main-title">Sudoku puzzle</h1>
        <div class="main-container">
            <div class="main-window">
                <div class="btn-container col-md-12">
                    <button type="button" class="sizeBtn animatedBtn btn btn-outline-primary btn-lg btn-block">Board size</button>
                    <button type="button" class="diffBtn animatedBtn btn btn-outline-primary btn-lg btn-block">Select level</button>
                    <button type="button" class="genBtn animatedBtn btn btn-primary btn-lg btn-block">Generate</button>
                </div>
            </div>
        </div>
        <div class="main-footer"></div>
        <input class="sizeVal" type="hidden" name="size" value="">
        <input class="levelVal" type="hidden" name="level" value="">
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="../js/app.js"></script>
</body>
</html>