body{
    font-family: 'Nunito', sans-serif;
    background-color: aliceblue;
}

.main-container{
    max-width: 600px;
    margin: 12px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
}

.main-footer{
    max-width: 600px;
    margin: auto;
}

.main-window{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

h1{
    margin: 60px auto;
    text-align: center;
}

.animatedBtn {
    transition: transform .2s;
    margin: 0 auto;
}

.animatedBtn:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}